/out_excel/
/imgs/
/.idea/
/alg/excavator/output/
/requirements.txt
/alg/wave/output/
/temp_xlsx/
/temp_vid/
/nohup.out
/alg/driverFace/output/
/alg/driverFace/shape_predictor_68_face_landmarks.dat
/temp_json/
/temp_equip_img/
/temp_img/
/alg/equip/font/simhei.ttf
/alg/equip/img/
/alg/equip/output/
/alg/equip/logs/ep050-loss75.476-val_loss82.279.h5
